:host{
  .main-wrapper{
    width:800px;
    height: auto;
    max-height: 95vh;
    max-width: 100vw;
    padding-top:40px;
    margin:auto;
    .mat-form-field{
      width: 350px;
    }
    .mat-input-element {
      width: 350px;
      height: 30px;
      background: #FFFFFF;
      border-radius: 15px;
      padding: 0 15px;
      &:focus{
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.15);
      }
    }
    .search-icon{
      fill: #ca1193;
    }
  }

}
::ng-deep .mat-form-field-underline {
  display: none;
}