<div class="list">
  <div class="message" *ngIf="planetsList.length === 0">
    <p>Planet not found :(</p>
  </div>
  <div class="list__head" *ngIf="planetsList.length > 0">
    <div class="list__head__name">Planet:</div>
    <div class="list__head__climate">Climate:</div>
    <div class="list__head__terrain">Terrain:</div>
    <div class="list__head__diameter">Diameter:</div>
    <div class="list__head__gravity">Gravity:</div>
  </div>
  <div class="list__item" *ngFor="let item of planetsList">
    <div class="list__item__name">
      <span class="list__item__mobile-header">Planet: </span>
      <span class="list__item__content">{{ item.name }}</span>
    </div>
    <div class="list__item__climate">
      <span class="list__item__mobile-header">Climate: </span>
      <span class="list__item__content">{{ item.climate }}</span>
    </div>
    <div class="list__item__terrain">
      <span class="list__item__mobile-header">Terrain: </span>
      <span class="list__item__content">{{ item.terrain }}</span>
    </div>
    <div class="list__item__diameter">
      <span class="list__item__mobile-header">Diameter: </span>
      <span class="list__item__content">{{ item.diameter }}</span>
    </div>
    <div class="list__item__gravity">
      <span class="list__item__mobile-header">Gravity: </span>
      <span class="list__item__content">{{ item.gravity }}</span>
    </div>
  </div>
</div>
