<div class="main-wrapper">
  <mat-table [dataSource]="planetsList">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="climate">
    <mat-header-cell *matHeaderCellDef> Climate </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.climate}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="terrain">
    <mat-header-cell *matHeaderCellDef> Terrain </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.terrain}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="diameter">
    <mat-header-cell *matHeaderCellDef> Diameter </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.diameter}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="gravity">
    <mat-header-cell *matHeaderCellDef> Gravity </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.gravity}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
