@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
body{
  padding:0px;
  margin:0px;
  background: #eee;
}

.mat-form-field-underline {
  background-color: #3cccff !important;
}

.mat-form-field-ripple {
  background-color: #3cccff !important;
}