@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  // background: linear-gradient(
  //   to right,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(172, 139, 173, 1) 83%,
  //   rgba(172, 139, 173, 1) 100%
  // );
  background-color: rgb(96, 137, 183);
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.9);
}
